#edamam-wrapper {
    position: relative;
    width: 100%;
    align-content: center;
    bottom: 0px;
}  

#edamam-badge {
    max-width: 30px !important;
    max-height: 30px !important;
    position: relative;
    bottom: 0px;
}

@media screen and (max-width: 640px) {
    #edamam-badge {
        margin-top: 10px;
        bottom: 10px;
        position: relative;
        margin-bottom: 50px;
    }
}