#dish-type-select {
  color: black;
}

#food-panel {
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
  border: none;
}

#food-panel-heading {
  background-image: url("../images/food-panel-heading.jpg");
  background-repeat: repeat;
  background-attachment: stretch;
  background-position: center;
  height: 100px;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#food-recipe {
  font-size: 30px;
  text-shadow: 2px 2px black;
}

#food-select {
  padding-top: 20px;
}