@import './buttons.css';
@import './drinkSearch.css';
@import './edamam-logo.css';
@import './foodSearch.css';
@import './footer.css';
@import './header.css';
@import './history.css';
@import './inputs.css';
@import './loader.css';
@import './results.css';
@import './search.css';
@import './userAuth.css';

body{
    background-image: url("../images/background.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#overlay {
    min-height: 1000px;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.6);
}

.jumbotron {
    text-align: center;
    background-image: url("../images/surfnutrition.jpg");
    padding: 25px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 95%;
    background-size: 1200px 700px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.panel-heading {
    padding: 15px;
    border-radius: 5px;
}

h4 {
    text-decoration: underline;
}

h5 {
    text-decoration: underline;
}

aside {
    position: relative;
    right: 0px;
    top: 0px;
    float: left;
}

.p {
    margin-top: 5px;
    margin-bottom: 10px;
}